[submodule "packages/base/any/initrds/buildroot/builds/buildroot-mirror"]
	path = packages/base/any/initrds/buildroot/builds/buildroot-mirror
	url = http://github.com/buildroot/buildroot
[submodule "packages/base/any/kernels/legacy/linux-3.9.6"]
	path = packages/base/any/kernels/legacy/linux-3.9.6
	url = http://github.com/opennetworklinux/linux-3.9.6
[submodule "sm/infra"]
	path = sm/infra
	url = https://github.com/Yi-Tseng/onl-build-infra.git
[submodule "sm/bigcode"]
	path = sm/bigcode
	url = http://github.com/Yi-Tseng/onl-build-bigcode.git
[submodule "packages/base/any/kernels/legacy/linux-3.8.13"]
	path = packages/base/any/kernels/legacy/linux-3.8.13
	url = http://github.com/opennetworklinux/linux-3.8.13
[submodule "sm/build-artifacts"]
	path = sm/build-artifacts
	url = http://github.com/Yi-Tseng/build-artifacts
